*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

* {
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

video,
img {
    max-width: 100%;
    border-radius: var(--border-radius);
}

:root {
      --black: #000000;

    --light-gray: #b9b0b0;
    --light-gray: gray;
    --white: #fff;
    --border-radius: 20px;
    --font-size-small: 14px;
    --font-size-base: 16px;
    --border: 1px solid #333030;
}

body {
    background-color: var(--black);
    color: white;
}

a {
    color: white;
}

a,
p {
    font-size: 18px;
    line-height: 24px;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 86px;
}

h1,
h2 {
    span {
        font-family: "Playfair Display", serif;
        font-style: italic;
    }
}

h1 {
    span * {
        font-family: "Playfair Display", serif;
        font-style: italic;
    }
}

h2 {
    font-size: 52px;
    font-weight: 600;
    line-height: 62px;
}

h3 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
}

.color__diff {
    color: rgba(255, 255, 255, 0.8);

    span,
    span * {
        color: rgb(255, 255, 255);
    }
}
 
/* Reusable Classes */
.container {
    width: 94%;
    max-width: 1248px;
    margin: 0 auto;
    padding: 80px 0;
}

.title {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 4px 9px;
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 12px;
    width: fit-content;
    border-radius: 8px;

    p {
        color: black;
        font-size: 14px;
        font-weight: 600;
    }
}

/* Fullscreen overlay */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    z-index: 9999; 
}