.project-intro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 12px;
    margin: 40px 0;
}

.project-card {
    h2 {
        font-size: 60px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .intro-title {
        display: flex;
        gap: 6px;

        span {
            background-color: #666666;
            padding: 2px 8px;
            border-radius: 25px;
            font-size: 12px;
            line-height: 19px;
            letter-spacing: .5px;
        }
    }
}

.intro-desc {
    margin-top: auto;
    width: 440px;
    margin-right: 100px;

    &>p {
        font-size: 14px;
        margin-bottom: 14px;
        line-height: 18px;
        color: white;
    }

    .project-process-label {
        a {
            color: black;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

/* -------------------------------- */
/*  Project Intro Container Ends    */
/* -------------------------------- */
/* ############################### */
/* ############################### */
/* ############################### */
/* ############################### */
/* ------------------------------- */
/*  Project  Overview  Starts      */
/* ------------------------------- */
.overview-container {
    display: flex;
    padding: 56px;
    border: 1px solid gray;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;

    &>p {
        font-size: 28px;
        line-height: 30px;
        font-family: sans-serif;
        font-weight: 500;
        color: var(--gray);

        span {
            font-size: 28px;
            color: var(--white);
        }
    }
}

.overview-list {
    display: flex;
    gap: 50px;

    .overview-item {
        :nth-child(1) {
            font-size: 50px;
            font-weight: 500;
            color: var(--white);
            line-height: 50px;
        }

        :nth-child(2) {
            font-size: 12px;
            font-weight: 400;
            color: var(--gray);
        }
    }
}

.overview-video {
    margin-top: 50px;
    margin: 10px auto 90px;
    width: 100%;
    height: 100%;

    video {
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
}

/* ------------------------------------ */
/*    Project Overview Section Ends     */
/* ----------------------------------- */
/* ###################################### */
/* ###################################### */
/* ###################################### */
/* ###################################### */
/* --------------------------------- */
/* Project Challenge Section Starts  */
/* --------------------------------- */
.project-challenge-container {
    border: 1px solid gray;
    border-radius: var(--border-radius);
    padding: 56px;

    .chal-content {
        margin: 18px 0 54px;
        color: var(--white);
        font-size: 28px;
        line-height: 34px;
        font-weight: 500;
        max-width: 790px;

        span {
            font-size: 28px;
            color: var(--gray);
            line-height: 20px;

            p {
                line-height: 12px;
                color: black;
                font-size: 13px;
                font-weight: 600;
                padding: 0px 0px;
            }
        }
    }
}

.chal-Tags-wrapper {
    display: flex;
    gap: 30px;

    .indus-tags-box {
        font-size: 16px;
        font-weight: 500;

        >p {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 4px;
        }

        .indus-tags {
            display: flex;
            gap: 6px;
        }
    }

    .service-tags-box {
        font-size: 16px;
        font-weight: 500;

        >p {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 4px;
        }

        .service-tags {
            display: flex;
            gap: 6px;
        }
    }
}

/* ------------------------------- */
/* Project Challenge Section Ends  */
/* ------------------------------- */
/* ############################ */
/* ############################ */
/* ############################ */
/* ############################ */
/* ############################ */
/* --------------------------- */
/* START ::Project Layout Image */
/* --------------------------- */
.project-layout-image {
    margin: 96px 0;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
    }
}

/* ------------------------- */
/* END::Project Layout Image */
/* ------------------------ */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
.project-exper-video {
    width: 100%;
    position: relative;

    .exper-heading {
        z-index: 2;
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        padding: 56px 0 122px;
        height: 100%;

        >span {
            color: black;
            font-size: 28px;
            font-weight: 500;
            line-height: 30px;
        }

        a {
            display: flex;
            justify-content: space-between;
            gap: 34px;
            align-items: center;
            padding: 10px 18px;

            i {
                font-size: 20px;
                font-weight: 700;
            }
        }
    }

    video {
        width: 100%;
        border-radius: 22px;
    }
}

/* ############################### */
/* Project Development Container  */
/* ############################### */
.project-ourwork-container {
    margin: 100px 0 20px;
    padding-top: 100px;

    .ourwork-title {
        margin: 0 auto;
    }

    .work-content {
        text-align: center;
        margin: 24px auto 46px;
        max-width: 782px;
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;

        span {
            font-size: 28px;
            color: var(--gray);
        }
    }
}

.mockups-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mockup-container {
    display: flex;
    gap: 20px;

    &:nth-child(2),
    &:nth-child(4) {
        flex-direction: row-reverse;
    }

    .mockup-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border: 1px solid #dfe0e4;
        max-width: 35%;
        border-radius: 12px;
        padding: 20px;

        h2 {
            font-size: 28px;
            font-weight: 500;
            line-height: 30px;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            color: var(--gray);
            line-height: 22px;
        }
    }

    .mockup-image {
        width: 100%;

        img {
            border-radius: 12px;
            width: 100%;
        }
    }
}

/* ######################## */
/* ######################## */
/* ######################## */
/* ######################## */
/* ######################## */
.project-plan-container {
    padding: 100px 70px;

    .plan-title {
        font-size: 50px;
        font-weight: 500;
        line-height: 60px;
        margin: 20px 0;

        i {
            color: var(--gray);
        }
    }

    .plan-containers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        .plan-container {
            border: 2px solid var(--gray);
            padding: 20px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 30px;
            border-radius: 12px;

            p {
                color: var(--white);
                line-height: 21px;
                font-size: 16px;
                font-weight: 500;
            }

            span {
                color: var(--gray);
            }
        }
    }
}

/* #############################3  */
/* #############################3  */
/* #############################3  */
/* #############################3  */
/* #############################3  */
.shopify-image {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
    }
}

/* #############################3  */
/* #############################3  */
/* #############################3  */
/* #############################3  */
.result-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px 0;
    padding: 40px;
    background: var(--white);
    background-image: url(../media/images/project-page-images/project-01-images/background-image.webp);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 12px;
    height: 516px;

    &>.result-title {
        background: var(--black);
        color: var(--white);
        padding: 4px 9px;
        font-size: 14px;
    }

    p {
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
        max-width: 735px;
        margin-bottom: 30px;
        color: var(--gray);

        span {
            font-size: 28px;
            color: var(--black);
        }
    }
}

/* ##########################  */
/* ##########################  */
/* ##########################  */
/* ##########################  */
.testi-container {
    margin: 70px 0;
    text-align: center;

    >span {
        margin: 0 auto;
    }

    .testi-content {
        text-align: center;
        margin: 14px auto 34px;
        max-width: 770px;
        font-size: 38px;
        padding: 20px 0;
        font-weight: 500;
        line-height: 38px;

        span {
            font-size: 38px;
            color: var(--gray);
        }
    }
}

.testi-profile {
    margin: 0 auto;
    display: flex;
    gap: 14px;
    width: 100%;
    align-items: center;
    justify-content: center;

    .profile-image {
        width: 58px;

        img {
            width: 100%;
        }
    }

    .profile-title {
        display: flex;
        flex-direction: column;
        text-align: start;

        h3 {
            font-size: 28px;
            line-height: 34px;
        }

        p {
            font-size: 16px;
            color: var(--gray);
        }
    }
}