.project-intro-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.project-card {
    h2 {
        font-size: 60px;
        font-weight: 500;
        margin-bottom: 16px;
    }

    .project-title {
        display: flex;
        gap: 6px;
        line-height: 28px;

        span {
            background-color: var(--light-gray);
            padding: 4px 9px;
            line-height: 14px;
            border-radius: var(--border-radius);
            letter-spacing: .5px;
            font-size: 11px;
        }
    }
}

.intro-desc {
    &>p {
        font-size: var(--font-size-base);
        margin-bottom: 14px;
    }

    width: 470px;
    font-size: var(--font-size-base);
}

/* ######################## */
/*  Project Heading Ends    */
/* ######################## */
/* ############################### */
/* ############################### */
/* ############################### */
/* ############################### */
/* ############################### */
/*  Project Achievement Starts     */
/* ############################### */
.achievement-container {
    display: flex;
    padding: 56px;
    border: var(--border);
    justify-content: space-between;
    border-radius: var(--border-radius);
    align-items: center;

    &>p {
        max-width: 260px;
        font-family: sans-serif;
        font-weight: 500;
        color: var(--light-gray);
        font-size: 28px;
        line-height: 28px;

        span {
            color: var(--white);
        }
    }
}

.acheivement-list {
    display: flex;
    gap: 50px;

    .item {
        display: flex;
        flex-direction: column;
        gap: 16px;

        :nth-child(1) {
            font-size: 50px;
            font-weight: 500;
            color: var(--white);
        }

        :nth-child(2) {
            font-size: var(--font-size-small);
            font-weight: 400;
            color: var(--light-gray);
        }
    }
}

/* ############################### */
/*  Project Achievement   Ends     */
/* ############################### */
/* ###################################### */
/* ###################################### */
/* ###################################### */
/* ###################################### */
/*    Project Overview Section Starts     */
/* ###################################### */
.project-overview-container {
    width: 100%;
    height: 100%;

    .overview-video {
        margin: 16px auto 126px;
        width: 100%;
        height: 600px;
        overflow: hidden;
        border-radius: var(--border-radius);

        img {
            scale: 1.1;
        }
    }
}

/* ################################### */
/*    Project Overview Section Ends     */
/* #################################### */
/* ###################################### */
/* ###################################### */
/* ###################################### */
/* ###################################### */
/* ################################# */
/* Project Challenge Section Starts  */
/* ################################# */
.project-challenge-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 54px;
    border: var(--border);
    border-radius: var(--border-radius);

    .challenge-content {
        margin-top: 10px;
        color: var(--white);
        font-size: 28px;
        font-weight: 500;
        max-width: 814px;
        line-height: 34px;

        span {
            color: var(--light-gray);
        }
    }
}

.chal-Tags-wrapper {
    display: flex;
    gap: 30px;
    margin-top: 34px;

    .indus-tags-box {
        font-weight: 500;

        >p {
            font-weight: 500;
            margin-bottom: 4px;
        }

        .indus-tags {
            font-size: var(--font-size-base);
            display: flex;
            gap: 6px;
        }
    }

    .service-tags-box {
        font-weight: 500;

        >p {
            font-weight: 500;
            margin-bottom: 4px;
        }

        .service-tags {
            font-size: var(--font-size-base);
            display: flex;
            gap: 6px;
        }
    }
}

/* ############################### */
/* Project Challenge Section Ends  */
/* ############################### */
/* ############################ */
/* ############################ */
/* ############################ */
/* ############################ */
/* ############################ */
/* ########################## */
/* Project Highlight Container  */
/* ########################## */
.project-grid-container {
    .project-grid-image {
        margin-top: 100px;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            border-radius: var(--border-radius);
        }
    }
}

/* ########################## */
/* Project Highlight Container  */
/* ########################## */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################### */
/* Project Development Container  */
/* ############################### */
.project-ourwork-container {
    padding: 160px 0 0;

    span {
        margin: 0 auto;
    }

    .title {
        margin: 0 auto;
    }

    .work-content {
        text-align: center;
        margin: 20px auto 50px;
        max-width: 770px;
        font-size: 28px;
        line-height: 34px;

        span {
            color: var(--light-gray);
        }
    }
}

.mockups-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mockup-container {
    display: flex;
    gap: 20px;

    &:nth-child(2),
    &:nth-child(4) {
        flex-direction: row-reverse;
    }

    .develop-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border: var(--border);
        max-width: 35%;
        border-radius: var(--border-radius);
        padding: 20px;

        h2 {
            font-size: 28px;
            font-weight: 500;
        }

        p {
            font-weight: 500;
            color: var(--light-gray);
            line-height: 18px;
            font-size: var(--font-size-base);
        }
    }

    .develop-image {
        width: 100%;

        img {
            border-radius: var(--border-radius);
            width: 100%;
        }
    }
}

/* ######################## */
/* ######################## */
/* ######################## */
/* ######################## */
/* ######################## */
.project-plan-container {
    padding: 100px 70px 90px;

    .plan-title {
        font-size: 50px;
        max-width: 540px;
        margin: 20px 0;

        i {
            color: var(--light-gray);
            font-size: 34px;
        }
    }

    .plan-containers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        .plan-container {
            border: var(--border);
            padding: 20px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 30px;
            border-radius: var(--border-radius);

            p {
                color: var(--white);
                line-height: 16px;
                font-size: var(--font-size-base);
                line-height: 20px;
            }

            span {
                color: var(--light-gray);
            }
        }
    }
}

.experience-container {
    padding: 30px 0 80px;
    position: relative;

    .experience-video {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0 140px;

        >p {
            color: black;
            font-size: 28px;
        }

        video {
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
        }
    }
}

/* #############################3  */
/* #############################3  */
/* #############################3  */
/* #############################3  */
/* #############################3  */
.shopify-image {
    padding: 90px 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);

    img {
        width: 100%;
    }
}

/* #############################3  */
/* #############################3  */
/* #############################3  */
/* #############################3  */
.result-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 50vh;
    margin: 90px 0;
    justify-content: space-between;
    padding: 40px;
    background: var(--white);
    background-image: url(../media/images/project-page-images/project-01-images/background-image.webp);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);

    &>.title {
        background: var(--black);
        color: var(--white);
    }

    p {
        font-size: 28px;
        font-weight: 500;
        max-width: 730px;
        color: var(--light-gray);
        line-height: 34px;

        span {
            color: var(--black);
        }
    }

    .result-title {
        background-color: var(--black);
        color: var(--white);
    }
}

/* ##########################  */
/* ##########################  */
/* ##########################  */
/* ##########################  */
.testi-container {
    padding: 70px 0;

    span {
        margin: 0 auto;
    }

    .testi-content {
        text-align: center;
        margin: 0 auto;
        max-width: 760px;
        font-size: 38px;
        padding: 26px 0;

        span {
            color: var(--light-gray);
        }
    }
}

.testi-profile {
    margin: 0 auto;
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;

    .profile-image {
        width: 50px;

        img {
            width: 100%;
        }
    }

    .profile-detail {
        justify-content: center;
        display: flex;
        flex-direction: column;

        >h3 {
            font-size: 26px;
            margin-bottom: 6px;
        }

        >p {
            font-size: 14px;
            color: var(--light-gray);
        }
    }
}

/* ########################### */
/* ########################### */
/* ########################### */