/* Custom Fonts */
@import url('./fonts.css');
/* Reset Browser Rendered Styles */
@import url('./reset.css');
/* Global Stylings */
@import url('./global.css');

/* Regular CSS */
/* Background Styling */
/* Animations */
@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes moveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}

.stars_BG {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* Purple */
    background-color: #06011b;
    /* Black */
    background-color: #000000;
    z-index: -1;

    .stars,
    .twinkling {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    .stars {
        background: transparent url(../../assets/media/bg/stars.png) repeat top center;
        z-index: 0;
        -moz-animation: move-twink-back 5000s linear infinite;
        -ms-animation: move-twink-back 5000s linear infinite;
        -o-animation: move-twink-back 5000s linear infinite;
        -webkit-animation: move-twink-back 5000s linear infinite;
        animation: move-twink-back 5000s linear infinite;
        /* opacity: .5; */
    }

    .twinkling {
        background: transparent url(../../assets/media/bg/twinkling-purple.svg) repeat top center;
        background: transparent url(../../assets/media/bg/twinkling-black.svg) repeat top center;
        z-index: 1;
        -moz-animation: move-twink-back 200s linear infinite;
        -ms-animation: move-twink-back 200s linear infinite;
        -o-animation: move-twink-back 200s linear infinite;
        -webkit-animation: move-twink-back 200s linear infinite;
        animation: move-twink-back 200s linear infinite;
    }
}

/* Background Stars Twinkling CSS */
/* ################ */
/* ################ */
/* ################ */
/* ################ */
/* ################ */
/* ################ */
/* ################ */
/* ################ */
body {
    color: white;
}

/* Global Classes */
.container {
    max-width: 1280px;
    width: calc(100% - 120px);
    margin: 0 auto;
}

/* ########## */
/* ########## */
/* ########## */
/* ########## */
/* ########## */
/* ########## */
/* HEADER */
.header-section {
    background-color: #2209509a;
    box-shadow: 0px 0px 10px #220950;
    backdrop-filter: blur(12px);
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    /* border-radius: 50px; */
}

.header-main {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 55px;
    display: flex;
}

.header-content {}

.header-navbar-container {}

.header-navbar ul {
    font-size: 22px;
    display: flex;
    gap: 30px;

    li {
        a {
            color: white;
            text-decoration: none;
            display: block;
            transition: all .3s ease;

            &:hover {
                color: #5928e5;
            }
        }
    }
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right-button {
    margin-left: 20px;
    padding: 16px 20px;
    background: #5928e5;
    border-radius: 8px;
    transition: all .3s ease;

    a {
        text-decoration: none;
    }

    &:hover {
        background-color: #fff;

        a {
            color: #5928e5;
        }
    }
}